html, body {
	background-color: #f0d0f2;
	color:black;
	font-family:Rockwell, Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:1.15;
	text-align:center;
}

body { width:75vw;margin:0 auto; }

h1, h2, h3, p {
	margin-bottom:2.2em;
}

p { line-height:1.6;font-size:14px; }
